---

---

<section>
  <header><h2>About us</h2></header>
  <article>
    <h3>General objectives</h3>
    <ul>
      <li>Counselling and rehabilitation</li>
      <li>Home care</li>
      <li>Medical assistance</li>
      <li>Stigma management</li>
    </ul>
  </article>
  <article>
    <h3>Special objectives</h3>
    <ul>
      <li>Financial assistance to our patients</li>
      <li>Nerve stimulation</li>
      <li>Controlling side effects</li>
      <li>Anti-Epileptic drugs</li>
    </ul>
  </article>
  <article>
    <h3>Our target groups</h3>
    <p>
      3-18 years of age; Parents who are illiterate; mentally ill and on drugs
    </p>
  </article>
  <section>
    <header>
      <h3>How we work</h3>
    </header>
    <article>
      <h4>Vagus nerve stimulator</h4>
      <p>
        Vagus nerve stimulation involves the use of a device to stimulate the
        vagus nerve with electrical impulses. An implantable vagus nerve
        stimulator is currently FDA-approved to treat epilepsy and depression.
        We have managed to impact over 30 young people using this method to
        fight depression, manage epilepsy and restore their participation
        abilities in society.
      </p>

      <h4>Surgery at Butabika Hospital</h4>
      <p>
        Through multidisciplinary approach to healthcare, Butabika Hospital
        provides access to a wide variety of medical specialties for a full
        range of clinical services, as well as primary care. We have had a
        number of successful surgeries and great recoveries.
      </p>

      <h4>Community participation</h4>
      <p>
        We strongly advocate for community participation among individuals/
        patients. Their involvement in community events, religious gatherings,
        volunteering and others reduce on the loneliness and exposes them to
        possibilities. This approach is strongly recommended by the foundation.
      </p>

      <h4>The Hospital to Home journey</h4>
      <p>
        Some patients require continued rehabilitation whether more intensive as
        found in acute rehabilitation centers or lower acuity provided in
        nursing facilities skilled in post-acute care. We walk with the patients
        every step of the way according to their required attention.
      </p>
    </article>
  </section>
</section>
