---
const location = "Nsambya, Kevina";
const boxOffice = "196 Mbalwa";
---

<section>
  <header><h2>Contacts</h2></header>
  <ul>
    <li>Location {location}</li>
    <li>P.O Box {boxOffice}</li>
  </ul>
</section>
