---

---

<section>
  <header><h2>Get involved</h2></header>
  <ul>
    <li>Volunteer at the intuition to share your expertise</li>
    <li>Share knowledge on the different topics</li>
    <li>Be part of our advocacy sessions online</li>
    <li>Host a community event on sensitization and awareness</li>
    <li>Donate to change a life</li>
  </ul>
</section>
