---

---

<section>
  <header><h2>Roadmap</h2></header>
  <ul>
    <li>
      <h4>Sensitization and awareness</h4>
      <ul>
        <li>
          Making, fitting and educating individuals to use modern technology to
          support their current situation.
        </li>
        <li>
          Exercise training and education on healthy living for a person with
          mental illnesses.
        </li>
      </ul>
    </li>
    <li>
      <h4>Minimisation of side effects</h4>
      <ul>
        <li>
          Prescribing medicine to reduce muscle stiffness and other drug related
          side effects.
        </li>
        <li>
          Positioning and splinting techniques to assist with skin healing,
          reduce swelling, and to regain movement after burn surgery.
        </li>
        <li>Integrating nutrition to support recovery and daily living. 3.</li>
      </ul>
    </li>
    <li>
      <h4>Construction of Rehabilitation centres</h4>
      <ul>
        <li>
          Modifying patients’ home environments to improve their safety and
          independence at home and to reduce their risk of falls
        </li>
      </ul>
    </li>
    <li>
      <h4>Provision of Medical assistance to more parts of the country</h4>
      <ul>
        <li>Psychological support for a person with depression</li>
        <li>
          More outreach programs to extend our services to the rest of the
          country in order to increase on the impact span.
        </li>
      </ul>
    </li>
  </ul>
</section>
