---
import "../assets/css/main.css";
---

<!doctype html>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Theo Foundation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
  </head>
  <body class="homepage is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <section id="header" class="wrapper">
        <!-- Logo -->
        <div id="logo">
          <h1><a href="index.html">Theo Foundation</a></h1>
          <p>Founded in 2019</p>
        </div>

        <!-- Nav -->
        <nav id="nav"></nav>
      </section>

      <!-- Intro -->
      <section id="intro" class="wrapper style1">
        <div class="title">Our Mission</div>
        <div class="container">
          <p class="style3">
            The Theo Foundation was founded in 2019 driven with the passion to
            support people with Drugs abuse after effects, mental illnesses,
            those recovering from sexual violence and epileptic groups. Why?
            These are the least listened to voices in society today. The
            foundation is here to amplify theses voices and help ease the pain.
          </p>
          <p class="style2">
            The Theo foundation brings together a group of physicians,
            therapists, social workers, and nurses with the training to bring
            out the best in our patients. The foundation priorities are
            patient-centered and specific rehabilitation goals have been
            formulated to reflect the patient’s needs and desires. The primary
            care physicians can also make appropriate referrals for all that is
            needed.
          </p>
          <p class="style3">
            The purpose of the target groups were majority because plenty of
            people today are silently going through sexual violence, mental
            illnesses and epileptic cases. The silence is proudly sponsored by
            stigma. All these affect individual productivity at work, home and
            in society.
          </p>
          <ul class="actions">
            <li><a href="#" class="button style3 large">Get in touch</a></li>
          </ul>
        </div>
      </section>

      <!-- Main -->
      <section id="main" class="wrapper style2">
        <div class="title">How we work</div>
        <div class="container">
          <!-- Image -->
          <a href="#" class="image featured">
            <img src="images/pic01.jpg" alt="" />
          </a>

          <!-- Features -->
          <section id="features">
            <header class="style1">
              <h2>Our target groups</h2>
              <p>
                3-18 years of age; Parents who are illiterate; mentally ill and
                on drugs
              </p>
            </header>
            <div class="feature-list">
              <div class="row">
                <div class="col-6 col-12-medium">
                  <section>
                    <h3 class="icon solid fa-assistive-listening-systems">
                      Vagus nerve stimulator
                    </h3>
                    <p>
                      Vagus nerve stimulation involves the use of a device to
                      stimulate the vagus nerve with electrical impulses. An
                      implantable vagus nerve stimulator is currently
                      FDA-approved to treat epilepsy and depression. We have
                      managed to impact over 30 young people using this method
                      to fight depression, manage epilepsy and restore their
                      participation abilities in society.
                    </p>
                  </section>
                </div>
                <div class="col-6 col-12-medium">
                  <section>
                    <h3 class="icon solid fa-procedures">
                      Surgery at Butabika Hospital
                    </h3>
                    <p>
                      Through multidisciplinary approach to healthcare, Butabika
                      Hospital provides access to a wide variety of medical
                      specialties for a full range of clinical services, as well
                      as primary care. We have had a number of successful
                      surgeries and great recoveries.
                    </p>
                  </section>
                </div>
                <div class="col-6 col-12-medium">
                  <section>
                    <h3 class="icon solid fa-church">
                      Community participation
                    </h3>
                    <p>
                      We strongly advocate for community participation among
                      individuals/ patients. Their involvement in community
                      events, religious gatherings, volunteering and others
                      reduce on the loneliness and exposes them to
                      possibilities. This approach is strongly recommended by
                      the foundation.
                    </p>
                  </section>
                </div>
                <div class="col-6 col-12-medium">
                  <section>
                    <h3 class="icon solid fa-clinic-medical">
                      The Hospital to Home journey
                    </h3>
                    <p>
                      Some patients require continued rehabilitation whether
                      more intensive as found in acute rehabilitation centers or
                      lower acuity provided in nursing facilities skilled in
                      post-acute care. We walk with the patients every step of
                      the way according to their required attention.
                    </p>
                  </section>
                </div>
              </div>
            </div>
            <ul class="actions special">
              <li><a href="#" class="button style1 large">Get Started</a></li>
              <li><a href="#" class="button style2 large">More Info</a></li>
            </ul>
          </section>
        </div>
      </section>

      <!-- Highlights -->
      <section id="highlights" class="wrapper style3">
        <div class="title">Roadmap</div>
        <div class="container">
          <div class="row aln-center">
            <div class="col-3 col-12-medium">
              <section class="highlight">
                <a href="#" class="image featured"
                  ><img
                    src="images/olga-guryanova-Nanf8oLglmg-unsplash.jpg"
                    alt=""
                  /></a
                >
                <h3><a href="#">Sensitization and awareness </a></h3>
                <p>
                  Making, fitting and educating individuals to use modern
                  technology to support their current situation...
                </p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
            <div class="col-3 col-12-medium">
              <section class="highlight">
                <a href="#" class="image featured"
                  ><img
                    src="images/hal-gatewood-iPl3q-gEGzY-unsplash.jpg"
                    alt=""
                  /></a
                >
                <h3><a href="#"> Minimisation of side effects </a></h3>
                <p>
                  Prescribing medicine to reduce muscle stiffness and other drug
                  related side effects...
                </p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
            <div class="col-3 col-12-medium">
              <section class="highlight">
                <a href="#" class="image featured"
                  ><img
                    src="images/henry-co-3coKbdfnAFg-unsplash.jpg"
                    alt=""
                  /></a
                >
                <h3>
                  <a href="#"> Construction of Rehabilitation centres </a>
                </h3>
                <p>
                  Modifying patients’ home environments to improve their safety
                  and independence at home and to reduce their risk of falls...
                </p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
            <div class="col-3 col-12-medium">
              <section class="highlight">
                <a href="#" class="image featured"
                  ><img
                    src="images/luis-melendez-Pd4lRfKo16U-unsplash.jpg"
                    alt=""
                  /></a
                >
                <h3>
                  <a href="#"
                    >Provision of Medical assistance to more parts of the
                    country
                  </a>
                </h3>
                <p>Psychological support for a person with depression</p>
                <ul class="actions">
                  <li><a href="#" class="button style1">Learn More</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <section id="footer" class="wrapper">
        <div class="title">Get involved</div>
        <div class="container">
          <header class="style1">
            <h2>Want to join us?</h2>
            <ul class="join-us">
              <li>Volunteer at the intuition to share your expertise</li>
              <li>Share knowledge on the different topics</li>
              <li>Be part of our advocacy sessions online</li>
              <li>Host a community event on sensitization and awareness</li>
            </ul>
          </header>
          <div class="row">
            <div class="col-6 col-12-medium">
              <!-- Contact Form -->
              <section>
                <form method="post" action="#">
                  <div class="row gtr-50">
                    <div class="col-6 col-12-small">
                      <input
                        type="text"
                        name="name"
                        id="contact-name"
                        placeholder="Name"
                      />
                    </div>
                    <div class="col-6 col-12-small">
                      <input
                        type="text"
                        name="email"
                        id="contact-email"
                        placeholder="Email"
                      />
                    </div>
                    <div class="col-12">
                      <textarea
                        name="message"
                        id="contact-message"
                        placeholder="Message"
                        rows="4"></textarea>
                    </div>
                    <div class="col-12">
                      <ul class="actions">
                        <li>
                          <input type="submit" class="style1" value="Send" />
                        </li>
                        <li>
                          <input type="reset" class="style2" value="Reset" />
                        </li>
                      </ul>
                    </div>
                  </div>
                </form>
              </section>
            </div>
            <div class="col-6 col-12-medium">
              <!-- Contact -->
              <section class="feature-list small">
                <div class="row">
                  <div class="col-6 col-12-small">
                    <section>
                      <h3 class="icon solid fa-home">Mailing Address</h3>
                      <p>
                        Nsambya Kevina
                        <br />P.O Box 196 Mbalwa
                        <br />
                        Kampala, Uganda
                      </p>
                    </section>
                  </div>
                  <div class="col-6 col-12-small">
                    <section>
                      <h3 class="icon solid fa-comment">Social</h3>
                      <p class="brands">
                        <a href="#">
                          <span class="fab fa-facebook">theo-foundation</span>
                        </a>
                        <a href="#">
                          <span class="fab fa-twitter">theo-foundation</span>
                        </a>
                      </p>
                    </section>
                  </div>
                  <div class="col-6 col-12-small">
                    <section>
                      <h3 class="icon solid fa-envelope">Email</h3>
                      <p>
                        <a href="#">info@untitled.tld</a>
                      </p>
                    </section>
                  </div>
                  <div class="col-6 col-12-small">
                    <section>
                      <h3 class="icon solid fa-phone">Phone</h3>
                      <p>(000) 555-0000</p>
                    </section>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div id="copyright">
            <ul>
              <li>&copy; Untitled.</li>
              <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>

<!-- <script>
  import "../assets/js/jquery.min";
  import "../assets/js/jquery.dropotron.min";
  import "../assets/responsive-tools-master/src/browser";
  import "../assets/responsive-tools-master/src/breakpoints";
  import "../assets/js/util";
  import "../assets/js/main";
</script> -->

<style>
  .join-us {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-block: 1.5rem;
    gap: 1rem;
  }
  .join-us li {
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid;
  }

  .brands {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .brands a {
    text-decoration: none;
  }
  .brands a span {
    display: flex;
    gap: 0.5em;
  }
</style>
